.patient-item {
    margin-bottom: 10px;
}
.patient-image {
    display: inline-block;
    float: left;
}
.patient-image img {
    border: 4px solid;
    border-color: #2ecc71;
}
.patient-title {
    width: 77%;
    top: 50%;
    transform: translateY(14%);
    -webkit-transform: translateY(14%);
    margin-left: 7px;
    display: inline-block;
}

.labels {
    margin-left: 25px;
}

.sendreminder{
    max-width: 565px;
}

.scribble{
     max-width: 225px;
}
/*
.timeSelectors {
    margin-bottom: 10px;
}*/

/*#getPrescription {
    display: block;
    margin: 20px;
}*/